* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #fafafa;
    font-family: sans-serif;
}

main {
    width: 640px;
    margin: 20px auto;
}

p {
    margin: 8px 0;
}

a {
    color: #fafafa;
}

.censor {
    color: #303030;
}

#bar {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
}

#bar img {
    display: block;
    width: 200px;
    height: auto;
    border-radius: 50%;
    border: 3px solid #303030;
}

#bar h1 {
    display: block;
    font-size: 3rem;
    cursor: default;
    margin: 0;
}

#bar > div p {
    margin: 0;
    opacity: 0.5;
    /* max-width: 200px; */
}

#textfield > div {
    margin: 45px 0;
}

#intouch {
    margin-top: 25px;   
}

#intouch > a {
    color: #fafafa;
    text-decoration: none;
    margin-right: 10px;
}

footer {
    opacity: 0.3;
}

@media only screen and (max-width: 760px) {
    main {
        width: 90%;
    }
}

@media only screen and (max-width: 570px) {
    #bar {
        flex-wrap: wrap;
        flex-direction: column;
    }

    #bar img {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 270px) {
    #bar h1 {
        font-size: 2rem;
    }

    #bar img {
        width: 150px;
    }

    #textfield > div p {
        text-align: justify;
    }
}